* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}

body {
    background: linear-gradient(#002853, #040C18);
}

.content {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}


header {
    padding: 55px 0 17px 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav_list li {
    display: inline-block;
    padding-right: 45px;
}

.nav_list li:first-child {
    margin: 0 33px 0 0;
}

.nav_list li a, .account a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.4;
    color: #FFFFFF;
}

.btn {
    width: 152px;
    height: 58px;
    background: #FF4820;
    border-radius: 5px;
    margin-left: 26px;
    padding: 16px 45px;
}

.hero {
    position: relative;
    padding: 120px 0;
}

.hero .content {
    display: flex;
    justify-content: space-between;
}

.hero_left {
    width: 55%;
}

.hero_left h1 {
    font-weight: 800;
    font-size: 6.8rem;
    line-height: 1.21;
    letter-spacing: -0.04em;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero_left p {
    margin-top: 33px;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    color: #81AFDD;
}

.mail_box input {
    width: 456px;
    height: 73px;
    background: #052D56;
    border-radius: 5px 0px 0px 5px;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    color: #3D6184;
    padding-left: 30px;
    margin-top: 33px;
    border: none;
}

.mail_box button {
    width: 174px;
    height: 73px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #FF4820;
    border-radius: 5px 0px 0px 5px;
    border: none;
    cursor: pointer;
}

.user {
    margin-top: 38px;
}

.user, .user_list {
    display: flex;
    align-items: center;
}

.user_list li:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-weight: 800;
    font-size: 0.8rem;
    line-height: 4.8;
    color: #000000;
    background: #13DED2;
    border: 2.08948px solid #FFFFFF;
    border-radius: 50%;
    margin-right: 18px;
}

.user_list li img, .more {
    margin-left: -12px;
}

.user_list li:first-child {
    margin-left: 12px;
}

.user span {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 3.2;
    color: #FFFFFF;
}

.hero_right img {
    position: absolute;
    top: 18px;
    right: calc((100vw - 1200px) / 2 - 150px);
}

.hero_bottom {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1200px) / 2 + 260px);
}

.hero_bottom img {
    display: inline-block;
    margin-right: 30px;
}

.description {
    position: relative;
    background: #002853;
    margin-top: 125px;
    padding: 74px 0 63px 0;
}

.description h2, .description h4 {
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3.125;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.description h2::before, .description h4::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 38px;
    height: 3px;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
}

.description h3, .detail h5 {
    font-weight: 800;
    font-size: 3.8rem;
    line-height: 1.32;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.description h3 + p, .detail h5 + p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9;
    color: #FF8A71;
}

.description p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9;
    color: #81AFDD;
}

.start, .center, .end {
    display: flex;
    justify-content: space-between;
}

.center {
    margin: 91px 0 97px 0;
}

.center p {
    margin-top: 18px;
}

.start p {
    width: 70%;
    margin-top: 18px;
}

.end div {
    width: calc((100vw / 3) - 110px);
}

.detail {
    position: relative;
    padding: 190px 0 70px 0;
}

.detail .content {
    display: flex;
}

.heading {
    width: 40%;
    margin-right: 138px;
}

.heading p {
    margin-top: 34px;
}

.detail_inf {
    width: 64%;
}

.detail_inf div {
    display: flex;
    margin-bottom: 70px;
}

.detail_inf div:last-child {
    margin-bottom: 0;
}

.detail_inf div b {
    width: 25%;
    margin-top: 14px;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 1.3;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.detail_inf div p {
    width: 60%;
    margin-left: auto;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #81AFDD;
}

.detail_inf div b::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 38px;
    height: 3px;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -10px;
}

.feature .content {
    display: flex;
    align-items: center;
}

.request {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9;
    color: #71E5FF;
    margin-bottom: 18px;
}

.feature_left {
    width: 60%;
}

.feature_left img {
    margin-left: 20px;
}

.feature_right {
    width: 40%;
    margin: 180px 0 0 -90px;
}

.feature_right strong {
    font-weight: 800;
    font-size: 3.4rem;
    line-height: 1.3;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.feature_desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9;
    color: #81AFDD;
    margin: 23px 0 31px 0;
}

.request_active {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9;
    color: #FF8A71;
}

.register {
    margin-top: 155px;
    padding: 40px 0;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10.7236px;
}

.register p {
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0E0E0E;
}

.register .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register .content div strong {
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #000000;
}

.register .content a {
    text-decoration: none;
    width: 189.14px;
    height: 59.4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 40px;
    padding: 15px 30px;
    text-align: center;
}


.blog {
    padding-top: 135px;
}

.blog .content strong {
    font-weight: 800;
    font-size: 6.2rem;
    line-height: 1.2;
    letter-spacing: -0.04em;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.news {
    display: flex;
    margin-top: 115px;
    padding-bottom: 150px;
}

.news_left {
    width: 35%;
    background: #042C54;
}

.news_desc {
    position: relative;
    width: 100%;
    height: 350px;
    padding: 15px;
}

.news_desc b {
    font-weight: 800;
    font-size: 2.6rem;
    line-height: 1.1;
    color: #FFFFFF;
}

.news_desc p {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.9;
    color: #FFFFFF;
}

.news_right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 15px;
}

.card {
    max-width: 50%;
}

.news_desc-mini {
    position: relative;
    background: #042C54;
    height: 170px;
    padding-left: 30px;
}

.news_desc-mini b {
    font-weight: 800;
    font-size: 1.9rem;
    line-height: 1.6;
    color: #FFFFFF;
}

.news_desc-mini p {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.9;
    color: #FFFFFF;
}

.news_desc b + p, .news_desc-mini b + p {
    position: absolute;
    bottom: 0;
}

footer {
    background: #031B34;
    padding-top: 175px;
    position: relative;
}

.head {
    font-weight: 800;
    font-size: 6.2rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.04em;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

footer button {
    position: absolute;
    top: 380px;
    right: calc((100vw / 2) - 125px);
    width: 218px;
    height: 65px;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: transparent;
    cursor: pointer;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 283px 0 83px 0;
}

.list_head {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.list ul li a, footer p {
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.icon {
    margin-bottom: 90px;
}

.reserved {
    text-align: center;
    padding-bottom: 24px;
}

.list_item li {
    padding-bottom: 30px;
}
